body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

.employee {
    cursor: pointer;
    user-select: none;
}

.employee::before {
    content: '+ ';
    color: green;
}

.employee.open::before {
    content: '- ';
    color: red;
}

.subordinates {
    padding-left: 20px;
    display: none;
}

.subordinates.open {
    display: block;
}
